:root {
    --primary-text-color:rgba(117, 117, 117, 1);
    --title-text-color:#212121;
    --accent-color:rgba(33, 150, 243, 1);
    --primary-bcg-color:#FFFFFF;
    --font-family:'Relaway',sans-serif;
    --font-family: 'Roboto',sans-serif;
}
/*body*/
body {
    background-color:var(--primary-bcg-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.14;
}

.page-header {
    background:var(--primary-bcg-color);
        
}

.logo-page-header {
        color:var(--title-text-color);
        font-weight: 700;
        font-style: normal;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
    }
    .logo-footer {
        color:var(--primary-bcg-color);
        font-weight: 700;
        font-style: normal;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;

    }

    .web-logo{
        color: var(--accent-color);
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
    }

/* site-nav */
.link{
    color:#2196F3;
    text-decoration: none;
}
.link:hover,:focus {
    color:var(--title-text-color);
    
}
.link2{
    color:black;
    text-decoration: none;
}
.link2:hover,:focus{
    color: var(--accent-color)

}
.resume {
    color:black;
    text-decoration: none;
}

.resume:hover,:focus{
    color:var(--accent-color);
}
.resume2{
    color: #2196F3;
    text-decoration: none;

}
.resume2:hover,:focus{
    color:var(--title-text-color);
}
.contacts{
    color:black;
    text-decoration: none;

}
.contacts:hover,:focus{
    color:var(--accent-color)
}
.mail{
    color:#2196F3;
    text-decoration: none;
}
.mail:hover,:focus{
    color: var(--title-text-color);

}
.number{
    color:#757575;
    text-decoration: none;

}
.number:hover,:focus{
    color:var(--title-text-color);
}
/*hero*/
.hero-title,.features-title, .work-title, .staff-title{
    color: var(--title-text-color);
}
.hero {
    background-color: #2F303A;
    color: var (--primary-text-color);
    font-style: normal;
    font-weight: 900;
}
.hero-title{
    font-size: 44px;
    line-height:1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-transform: uppercase;
}


/*features*/
.features-title-main{
    opacity: 0; 
    display: none;
}
.features-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    outline: 0;
    outline-offset: 0;
}
.title-list{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}

/* work*/

.work-title{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
/*work2*/
.work-title2{ 
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
    border: 1px solid #EEEEEE;
    letter-spacing: 0.06em;
    
}
.work-list2{
    font-style: normal;
    font-weight: 400;
     font-size: 16px;
    line-height: 1.87;
    color:var(--primary-text-color);
}
/*staff*/
.staff-title{
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.staff-list{
    font-size: 16px;
    line-height: 1.18;
    color:var(--title-text-color);
    letter-spacing: 0.03em;

}
.staff-position{
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}


/*button*/

.button-primary{
    background :var(--accent-color);
    color:var(--primary-bcg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

   
}
.button-primary:hover,:focus,:active { 
    color:var(--title-text-color);
}
ul{
    list-style: none;
}
.button-secondary{
    color:#FFFFFF;
    width: 73px;
    height: 38px;
    background: #2196F3;   
}
.button-secondary:active{
    color: #FFFFFF;
}
.button-list{
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
}
.button-list:hover, :focus{
    color: black;;
}
/*footer*/
.main-footer{
    width: 1600px;
     height: 252px;
    background: #2F303A;
}
.logo-footer{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.location{
    color:#FFFFFF;
    font-style: normal;
}
.location:hover,:focus{
    color:var(--title-text-color);

}


